body{
  margin:0;
  font-family:sans-serif;
  background:#7a0000;
  color:white;
  overflow:hidden;
}

/* escenas */
.scene{
  position:absolute;
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.hidden{display:none}

/* intro */
.intro-text{
  font-size:30px;
  animation:introAnim 4s forwards;
}

@keyframes introAnim{
  0%{opacity:1;transform:scale(1)}
  100%{opacity:0;transform:scale(0.4)}
}

/* botones */
.btn{
  margin:10px;
  padding:15px 25px;
  border-radius:20px;
  background:rgba(255,255,255,0.2);
}

.small{font-size:14px}

/* viewer */
#viewer img{
  width:90%;
  border-radius:20px;
}

/* video */
video{
  width:90%;
}

/* nav */
.nav{
  margin:10px;
}