body{
  margin:0;
  font-family:sans-serif;
  background:#0f0f1a;
  color:white;
}

.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  text-align:center;
}

.btn{
  padding:15px 25px;
  border:none;
  border-radius:20px;
  background:#ff2e63;
  color:white;
}

.hidden{display:none;}

#contenido{
  padding:20px;
}

.grid{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:10px;
}

.grid img{
  width:100%;
  border-radius:10px;
}

.lightbox{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:black;
  display:flex;
  justify-content:center;
  align-items:center;
}

.lightbox img{
  width:95%;
}

.nav{
  position:fixed;
  bottom:20px;
  width:100%;
  text-align:center;
}